@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

section {
  font-family: "Ubuntu Mono";
  color: white;
}
.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 150px;
}

@font-face {
  font-family: "matrixFont";
  src: url("./matrix.ttf");
}
